*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}


.container:before,
.container:after {
  display: table;
}

.container:after {
  clear: both;
}

.container {
  clear: both;
  *zoom: 1;
}


a {
  text-decoration: none;
}


body {
  padding: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.layout {
  margin: 0 auto;
  max-width: 960px;
  width: 96%;
}
