.propertyContainer {
  margin: 20px 0 20px 0;
}

.header {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.body {
  position: relative;
}

.body img {
  display: inline-block;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 100%;
  z-index: 1;
}

.body div {
  position: absolute;
  left: 15%;
  right: 15%;
  bottom: 10%;
  padding: 4px;
  height: 24px;
  line-height: 16px;
  text-align: center;
  overflow: hidden;
}

.body div.hoverButton {
  z-index: 2;
  background-color: #00ace6;
  border-radius: 10px;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  opacity: 0.5;
}

.body div.hoverButtonText {
  z-index: 3;
  color: white;
}

.hoverButtonText:hover {
  cursor: pointer;
}

.footer {
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #00394d
}
