.propertyColumn {
  float: left;
  width: 48%;
}

.propertyColumn .title {
  text-align: center;
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #00ace6;
}

.propertyColumn .title:hover {
  cursor: default;
}
